replicaCount: 1

image:
  repository: ghcr.io/bcgov/sso
  tag: dev
  pullPolicy: Always

imagePullSecrets:
  - name: gh-registry-config

project: sso-keycloak
nameOverride: sso-keycloak
fullnameOverride: sso-keycloak

networkPolicies:
  enabled: true

service:
  type: ClusterIP
  port: 8080

# see https://access.redhat.com/documentation/en-us/red_hat_jboss_enterprise_application_platform/7.0/html-single/red_hat_jboss_enterprise_application_platform_for_openshift/index#configuring_dns_ping
pingService:
  enabled: true
  port: 8888

postgres:
  host: sso-pgsql-master
  database: ssokeycloak
  port: 5432
  credentials:
    secret:
    usernameKey: username-superuser
    passwordKey: password-superuser
    adminUsername: postgres
    adminPassword: postgres
  poolSize:
    min: 5
    max: 20

# see https://github.com/keycloak/keycloak-containers/blob/master/server/README.md#start-a-keycloak-instance-with-custom-command-line-options
additionalServerOptions: "-Dkeycloak.profile.feature.authorization=enabled -Djboss.persistent.log.dir=/var/log/eap"

# see https://github.com/keycloak/keycloak-containers/blob/master/server/README.md#setting-up-tlsssl
tls:
  enabled: false
  httpsSecret: sso-x509-https-secret
  jgroupsSecret: sso-x509-jgroups-secret

persistentLog:
  enabled: true
  storageClassName: netapp-file-standard
  path: /var/log/eap

resources:
  limits:
    cpu: 2
    memory: 2Gi
  requests:
    cpu: 1250m
    memory: 1Gi

nodeSelector: {}

tolerations: []

affinity: {}
