replicaCount: 1

image:
  repository: ghcr.io/bcgov/sso
  tag: v7.5-9-build.4
  pullPolicy: Always

resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 0.5
    memory: 512M

postgres:
  host: sso-patroni-gold.c6af30-test.svc.cluster.local
  port: 56583

patroni:
  replicaCount: 2
  # credentials:
  #   existingSecret: false
  #   superuser:
  #     username: postgres
  #     password:
  #   admin:
  #     username: admin
  #     password:
  #   standby:
  #     username: standby
  #     password:

  # additionalCredentials:
  #   - username: ssokeycloak
  #     password:

  persistentVolume:
    size: 1.75Gi

  podDisruptionBudget:
    enabled: false

  standby:
    enabled: true
    host: sso-patroni-gold.c6af30-test.svc.cluster.local
    port: 56583
