DEV_KEYCLOAK_PASSWORD=admin
DEV_KEYCLOAK_USERNAME=admin
DEV_KEYCLOAK_URL=http://localhost:9080
TEST_KEYCLOAK_PASSWORD=admin
TEST_KEYCLOAK_USERNAME=admin
TEST_KEYCLOAK_URL=http://localhost:9081
PROD_KEYCLOAK_PASSWORD=admin
PROD_KEYCLOAK_USERNAME=admin
PROD_KEYCLOAK_URL=http://localhost:9082

PGHOST=localhost
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=rhsso
CSS_API_URL=http://localhost:8080/app
CSS_API_AUTH_SECRET=s3cr3t
RC_WEBHOOK=
DC_USERS_RETENTION_DAYS=
INACTIVE_IDIR_USERS_RETENTION_DAYS=
NAMESPACE=local
NODE_ENV=local

BCEID_SERVICE_BASIC_AUTH=
BCEID_REQUESTER_IDIR_GUID=
BCEID_SERVICE_ID_DEV=
BCEID_SERVICE_ID_TEST=
BCEID_SERVICE_ID_PROD=

GH_SITMINDER_TESTS_APP_ID=
GH_SITMINDER_TESTS_INSTALLATION_ID=
