.login-pf body {
  background: none;
  background-color: #0f3362;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  color: #036;
}

.login-pf body .login-pf-page {
  padding-bottom: 60px;
}

.login-pf body .login-pf-page #kc-header {
  margin-bottom: 0;
}

.login-pf body .login-pf-page #kc-header #kc-header-wrapper {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 62px 10px 20px;
}

.login-pf body .login-pf-page #kc-header #kc-header-wrapper.no-transform {
  text-transform: none;
}

.login-pf body .login-pf-page .login-pf-accounts,
.login-pf body .login-pf-page .card-pf {
  margin-bottom: 10px;
  max-width: 450px;
  padding: 10px 20px;
  margin: auto;
}

@media (max-width: 450px) {
  .login-pf body .login-pf-page .login-pf-accounts,
  .login-pf body .login-pf-page .card-pf {
    margin: 0 0.5rem;
  }
}

.login-pf body .login-pf-page .login-pf-header {
  padding-top: 20px;
  margin-bottom: 0 !important;
  text-align: center;
  position: relative;
}

.login-pf body .login-pf-page .login-pf-header::before {
  content: url('../img/logo.svg');
  display: block;
  padding-bottom: 20px;
}

.login-pf body .login-pf-page .login-pf-header #kc-page-title {
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid #b3b1b3;
  color: #036;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.login-pf body .login-pf-page #kc-content #kc-content-wrapper #kc-form-wrapper {
  width: 100%;
  margin-bottom: 20px;
  border-right: none;
}

.login-pf body .login-pf-page #kc-content #kc-content-wrapper #kc-error-message {
  padding: 7px 10px 0 10px;
  margin: 5px;
  text-align: center;
  border: 2px solid red;
  border-radius: 5px;
}

.login-pf body .login-pf-page #kc-content #kc-content-wrapper .kc-social-provider-name {
  top: 0;
}

.login-pf body .login-pf-page #kc-content #kc-content-wrapper .kc-social-link > a {
  display: flex;
  position: relative;
}

.login-pf body .login-pf-page #kc-content #kc-content-wrapper .kc-social-link > a > .kc-social-title {
  width: 100%;
}

.login-pf body .login-pf-page #kc-content #kc-content-wrapper .kc-social-link > a > .kc-social-icon {
  width: 28px;
  position: absolute;
  right: 10px;
}

.login-pf body .login-pf-page .kc-social-links {
  display: block;
}

/* HEADER */
.login-pf body > header {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  padding: 0 2rem;
  color: #fff;
  display: flex;
  height: 65px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.login-pf body > header .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0;
}

.login-pf body > header .banner span {
  content: url('../img/bcgovlogo.svg');
  display: block;
  height: 100%;
}

.login-pf body > header .banner h1 {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: 700;
  margin: 5px 5px 0 18px;
  white-space: nowrap;
}

.login-pf body > header .other {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* FOOTER */
.login-pf body footer {
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #036;
  border-top: 2px solid #fcba19;
  color: #fff;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
}

.login-pf body footer .list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 3rem;
}

.login-pf body footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  color: #fff;
  list-style: none;
  align-items: center;
  height: 100%;
}

.login-pf body footer ul li a {
  font-size: 1rem;
  font-weight: normal; /* 400 */
  color: #fff;
  border-right: 1px solid #4b5e7e;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

/* BCGOV PRIMARY BUTTON */
#kc-form-buttons input,
#kc-social-providers .kc-social-links a[type='button'],
.bcgov-primary {
  background-color: #003366;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.3rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

#kc-form-buttons input {
  padding: 0.4rem 0.5rem;
}

#kc-form-buttons input:hover,
#kc-social-providers .kc-social-links a[type='button']:hover,
.bcgov-primary:hover {
  color: white !important;
  text-decoration-line: none;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 51, 102, 0.8);
}

#kc-form-buttons input:after,
#kc-social-providers .kc-social-links a[type='button']:after,
.bcgov-primary:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  content: '';
  border: none;
  border-color: transparent;
  border-radius: 4px;
}

#kc-form-buttons input:focus,
#kc-social-providers .kc-social-links a[type='button']:focus,
.bcgov-primary:focus {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}

#kc-form-buttons input:active,
#kc-social-providers .kc-social-links a[type='button']:active,
.bcgov-primary:active {
  opacity: 1;
}

/* GENERAL */
.hidden {
  display: none;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .login-pf body > header,
  .login-pf body footer {
    padding: 0 0.3rem;
  }

  .login-pf body .login-pf-page #kc-header #kc-header-wrapper {
    font-size: 1.8rem;
  }
}

.tooltiptext {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 220px;
  bottom: 100%;
  left: 50%;
  margin: 10px -110px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #333;
}

.kc-social-icon:hover .tooltiptext {
  visibility: visible;
}
