<!DOCTYPE html>
<!-- Add default defined template var -->
<%
  const safeTitle = typeof title !== 'undefined' ? title : 'Sign In';
%>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="One time passcode login">
    <title><%= safeTitle %></title>
    <link rel="stylesheet" href="/css/output.css" type="text/css" />
  </head>

  <body class="font-bc text-grey bg-primary">
    <header>
      <div class="flex flex-row gap-16 items-center p-6 border-b-1 border-gold">
        <img src="/img/bcgovlogosmall.svg" alt="British Columbia Logo" class="block md:hidden" />
        <img src="/img/bcgovlogo.svg" alt="British Columbia Logo" height="54" width="140" class="hidden md:block" />
        <div class="w-1 bg-gold h-full min-h-54"></div>
        <p class="text-xl text-white font-bold">One Time Passcode</p>
      </div>
    </header>
