<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="/patternfly.min.css" type="text/css">
  <link rel="stylesheet" href="/patternfly1.min.css" type="text/css">
  <link rel="stylesheet" href="/patternfly.additions.min.css" type="text/css">

  <link rel="stylesheet" href="/pficon.css" type="text/css">
  <link rel="stylesheet" href="/login.css" type="text/css">
  <link rel="stylesheet" href="/bcsans.css" type="text/css">
  <link rel="stylesheet" href="/main.css" type="text/css">
  <link rel="stylesheet" href="/content.css" type="text/css">
  <style class="automa-element-selector">
    @font-face {
      font-family: "Inter var";
      font-weight: 100 900;
      font-display: swap;
      font-style: normal;
      font-named-instance: "Regular";
      src: url("chrome-extension://infppggnoaenmfagbfknfkancpbljcca/Inter-roman-latin.var.woff2") format("woff2")
    }

    .automa-element-selector {
      direction: ltr
    }

    [automa-isDragging] {
      user-select: none
    }

    [automa-el-list] {
      outline: 2px dashed #6366f1;
    }
  </style>
</head>
