<% if (waitTime > 0) { %>
<span id="wait-text">Please wait <span id="wait-time-text" data-wait-time="<%= waitTime %>"><%= waitTime %></span> seconds before requesting a new code for this email address.</span>
<% } %>
