<div class="form-group">
    <label class="col-sm-2 control-label" for="legacyLogoutRedirectUriSupported">Legacy Logout Redirect URI</label>
    <div class="col-sm-4">
        <input ng-model="identityProvider.config.legacyLogoutRedirectUriSupported" id="legacyLogoutRedirectUriSupported" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
    </div>
    <kc-tooltip>Does the external IDP support legacy logout redirect URI (redirect_uri)?</kc-tooltip>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="tooltip">Tooltip</label>
    <div class="col-md-6">
        <input ng-model="identityProvider.config.tooltip" id="tooltip" type="text" class="form-control"/>
    </div>
    <kc-tooltip>IDP tooltip to show on the login screen.</kc-tooltip>
</div>
