<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="login-pf">

<%- include("./partials/header") %>

<body>
  <header>
    <div class="banner">
      <span></span>
      <h1>Pathfinder SSO</h1>
    </div>
    <div class="other">&nbsp;</div>
  </header>
  <div class="login-pf-page">
    <div id="kc-header" class="login-pf-page-header">
      <div id="kc-header-wrapper" class="">
        Secure OTP Login
      </div>
    </div>
    <div class="card-pf">
      <header class="login-pf-header">
        <h1 id="kc-page-title">Authentication failed:</h1>
      </header>
      <div id="kc-content">
        <div id="kc-content-wrapper">
          <div class="alert-error pf-c-alert pf-m-inline pf-m-danger">
            <span class="pf-c-alert__title kc-feedback-text"><%= error %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
