<%- include("./partials/header", { title: 'Terms of Use' }) %>
    <div class="size-full flex flex-row justify-center">

        <div class="bg-lightest-grey p-16 my-32 py-24 px-32 flex flex-col gap-24 items-center w-[95dvw] max-w-900 ">
            <h2 class="text-lg font-bold">One Time Passcode Terms of Use</h2>
            <ol class="flex flex-col gap-12">
                <li class="flex flex-col">
                    <span class="font-bold">1. Terms of Use</span>
                    <span>
                        These Terms of Use are an agreement between you and the Province and govern
                        your use of the One Time Passcode. By indicating that you agree to these Terms of
                        Use, and in consideration of the Province issuing the One Time Passcode to you,
                        you agree to the following.
                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        2. Ability to Accept Terms of Use
                    </span>
                    <span>
                        To accept these Terms of Use and use the One Time Passcode you must:
                        <ol class="pl-16">
                            <li class="flex flex-row gap-6">
                                <span>
                                    a.
                                </span>
                                <span>
                                    be at least 19 years of age, or
                                </span>
                            </li>
                            <li class="flex flex-row gap-6">
                                <span>
                                    b.
                                </span>
                                <span>
                                    if you are under 19, have obtained the consent of your parent or guardian to
                                    accept these Terms of Use on your behalf, in which case your parent or
                                    guardian is responsible for your compliance with these Terms of Use.

                                </span>
                            </li>
                        </ol>
                    </span>
                <li class="flex flex-col">
                    <span class="font-bold">
                        3. Using the One Time Passcode
                    </span>
                    <span>
                        You agree that the Province may use the email address you provided to send you
                        notifications and alerts.
                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        4. Acceptable Use

                    </span>
                    <span>
                        You are solely responsible for all use of the One Time Passcode. You agree to:
                        <ol class="pl-16">
                            <li class="flex flex-row gap-6">
                                <span>
                                    a.
                                </span>
                                <span>
                                    Use the service only for lawful purposes;
                                </span>
                            </li>
                            <li class="flex flex-row gap-6">
                                <span>
                                    b.
                                </span>
                                <span>
                                    Provide a valid email address that you own or control;
                                </span>
                            </li>
                            <li class="flex flex-row gap-6">
                                <span>
                                    c.
                                </span>
                                <span>
                                    Not attempt to gain unauthorized access to the service or its systems;
                                </span>
                            </li>
                            <li class="flex flex-row gap-6">
                                <span>
                                    d.
                                </span>
                                <span>
                                    Not share the One Time Passcode.
                                </span>
                            </li>
                        </ol>
                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        5. Collection and Use of Personal Information
                    </span>
                    <span>
                        We collect only your <strong>email address</strong> for the sole purpose of:
                        <ol class="pl-16">
                            <li class="flex flex-row gap-6">
                                • Sending you a one-time passcode (OTP) to access the service;
                            </li>
                            <li>
                                • Sending you notifications and alerts related to your use of the service.
                            </li>
                        </ol>
                    </span>
                    <span>
                        Your email address will not be used for any other purpose without your explicit
                        consent and will be handled in accordance with the <strong>Freedom of Information and
                        Protection of Privacy Act (FOIPPA)</strong>.
                        For more information, please refer to our Privacy Statement:
                        <a href="https://www2.gov.bc.ca/gov/content/home/privacy" target="_blank"
                            class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">
                            B.C. Government Website Privacy Statement - Province of British Columbia
                        </a>
                    </span>

                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        6. Security

                    </span>
                    <span>
                        We take reasonable steps to protect your information. However, you are
                        responsible for maintaining the confidentiality of your email account and ensuring
                        that the OTP is not shared with others.

                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        7. Changes to These Terms

                    </span>
                    <span>
                        The Province may at any time, in its sole discretion, make changes to these Terms
                        of Use. Continued use of the service after changes are posted constitutes your
                        acceptance of the revised terms.

                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        8. Official Languages

                    </span>
                    <span>
                        This service is provided in accordance with the <strong>Official Languages Act</strong>.
                        Information is available in both English and French.

                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        9. Indemnity

                    </span>

                    <span>
                        You agree to indemnify, defend and hold harmless the Province and the Province’s
                        employees and agents from and against all claims, demands, obligations, losses,
                        liabilities, costs or debts, and expenses (including but not limited to reasonable
                        legal fees) arising from your violation of any provision of these Terms of Use.
                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        10. Contact

                    </span>
                    <span>
                        If you have questions about these Terms of Use or the service, please contact us
                        at: <a href="mailto:ditrust@gov.bc.ca"
                            class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">ditrust@gov.bc.ca</a>
                    </span>
                </li>
                <li class="flex flex-col">
                    <span class="font-bold">
                        11.Definitions
                    </span>
                    <span>
                        In these Terms of Use, the following terms have the following meanings:

                        <p class="pt-6"><strong>“OTP”</strong> means the One Time Passcode sent to your email address to facilitate
                        access to various government services and programs.</p>

                        <p class="pt-6">
                            <strong>“Province”</strong> means His Majesty the King in right of the Province of British Columbia
                            as represented by the Minister of Citizens’ Services.
                        </p>

                        <p class="pt-6">
                            <strong>“Terms of Use”</strong> means the agreement referred to in section 1.
                        </p>

                    </span>
                </li>

            </ol>
        </div>
    </div>
</body>
</html>
