name: Run unit tests

on:
  # Commenting out as tests are empty
  workflow_dispatch:
  # push:
  #   paths:
  #     - 'docker/kc-cron-job/**'
  #     - '.github/workflows/unit-test.yml'

jobs:
  unit_test:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ./docker/kc-cron-job
    steps:
      # Matching docker version
      - uses: actions/checkout@v4
      - name: Use Node.js 14
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: unit test
        run: |
          ls
          yarn
          yarn test
